<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email confirmation failed</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/emailConfirmationFailure.style.css"
    />
  </head>
  <body>
    <div class="box">
      <img src="/images/logo.png" />
      <h2>Email confirmation failed</h2>
      <p>
        Something went't wrong! Please resend the confirmation email and try
        again.
      </p>
    </div>
  </body>
</html>
